/* MAIN CONTAINER */
.main-container {
  height: 100vh;
  background: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
  
 
 
  

}

/* CHAT CARD */
.chat-card {
  width: 400px;
  height: 550px;
  background: orchid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
   margin: 20px;
  
  
}

/* TITLE */
.title {
  text-align: center;
  margin-bottom: 10px;
}

/* CHAT BOX */
.chat-box {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

/* MESSAGE COMMON STYLE */
.msg {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 12px;
  word-wrap: break-word;
}

/* ✅ BOT MESSAGE (LEFT) */
.msg.bot {
  align-self: flex-start;
  background: darkgreen;
}

/* ✅ USER MESSAGE (RIGHT) */
.msg.user {
  align-self: flex-end;
  background: #2563eb;
}

/* INPUT AREA */
.input-area {
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.input-area button {
  padding: 10px 15px;
  border: none;
  background: #22c55e;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.loader{
  
  align-self: flex-start;
  margin-left: 13px;
  margin-top: 20px;

  
}
.dots{
   align-self: flex-start;
  margin-left: 13px;
  margin-top: 20px;
  
}
.loader-style{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  color: white;

}